@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  background: #FFF;
}

body {
  background-color: rgba(180, 174, 88, 0.712);
  margin: 0;
  padding: 1%;
}

container {
  display: grid;
  grid-template-columns: auto auto;
  width: 50vw;
  height: 50vw;
  margin: auto auto;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  width: 175px;
  height: 175px;
  display: inline-block;
}

#top-left {
  background-color: green;

  border-top-left-radius: 100%;
}

#top-right {
  background-color: red;
  border-top-right-radius: 100%;

}

#bottom-left {
  background-color: yellow;
  border-bottom-left-radius: 100%;



}

#bottom-right {
  background-color: blue;
  border-bottom-right-radius: 100%;
}

footer {
  display: grid;
  grid-template-columns: auto auto auto;
}

#start {
  font-family: "press start 2p", monospace;

}


.center {
  margin: 0 auto;
}

.opacity {
  opacity: 0.5;
}

.menu {
  text-align: center;
}


#start-button {
  background-color: plum;
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-top: 1rem;
  margin-left: center;
}

footer {
  font-family: "Press Start 2P", monospace;
  font-size: medium;
  height: 10%;
  color: purple;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
}

.counter {
  background-color: #FFF;
  height: 40px;
  width: 90px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 10px;
}

.counter>p {
  font-size: 30px;
  margin: 0px;
  padding: 5%;
}

.box {
  width: 64px;
  margin: auto;
}

.off {
  background-color: #000;
}

.on {
  background-color: lightblue;
}

.wrapper {
  pointer-events: none;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  #top-left {
    width: 175px;
    height: 175px;
    display: inline-block;
  }

  .darkYellow {
    margin-left: 36%;
  }

  .darkRed {
    margin-left: 36%;
  }
}

/*
@media (min-width:320px) {
  .darkRed,
  .darkGreen,
  .darkYellow,
  .darkBlue {
    width: 108px;
    height: 200px;
  }
  .darkYellow {
    margin-left: 18%;
  }
  .darkRed {
    margin-left: 18%;
  }
}
/*
@media (min-width:481px) {
  .darkRed,
  .darkGreen,
  .darkYellow,
  .darkBlue {
    width: 150px;
  }
  .darkYellow {
    margin-left: 17%;
  }
  .darkRed {
    margin-left: 17%;
  }
}

@media (min-width:641px) {
  .darkYellow {
    margin-left: 25%;
  }
  .darkRed {
    margin-left: 25%;
  }
}

@media (min-width:961px) {
  .darkRed,
  .darkGreen,
  .darkYellow,
  .darkBlue {
    width: 175px;
  }
  .darkYellow {
    margin-left: 31%;
  }
  .darkRed {
    margin-left: 31%;
  }
}

@media (min-width:1025px) {
  .darkRed,
  .darkGreen,
  .darkYellow,
  .darkBlue {
    width: 175px;
    height: 175px;
  }
  .darkYellow {
    margin-left: 36%;
  }
  .darkRed {
    margin-left: 36%;
  }
} */


/*
  TODO: Style the game page according to guidelines
  NOTE: To use the above typeface, use font-family: "Press Start 2P" -- the above is
        equivalent to importing it as a stylesheet in HTML.
*/

/*
  TODO: Implement mobile query for smaller screen sizes.
*/

/* @media only screen and (max-width: 1024px) { 
   */
/*
    Selectors go here
  */